body {
  background-color: #2b2d3d;
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 20px;
  color: #c397e8;
}

.ascii-art {
  font-family: 'Courier New', Courier, monospace;
  color: #cae897;
  white-space: pre;
}

a {
  color: #bf94e4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:hover{
  text-decoration: underline;
  cursor: pointer;
}

.divisor {
  flex:1;
  margin: 10px 20px;
  background-image: linear-gradient(to right, rgb(202, 232, 151) 40%, #2b2d3d 20%);
  background-position: bottom;
  background-size: 10px 4px;
  background-repeat: repeat-x;
}

.title        { width: 50%;
  font-size: 1.2rem;
  overflow-x: hidden }
.title:before { 
  width: 0;
  white-space: nowrap;
  color: #bf94e4;
  background: none;
  content:
  "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
  "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
  "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
  "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
  "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
  "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
  "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░" }

  .title:after { 
    display: block;
    width: 0;
    color: #bf94e4;
    background: none;
    white-space: nowrap;
    content:
    "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
    "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
    "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
    "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
    "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
    "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░"
    "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░" }

    .select {
      position: relative;
      display: inline-block;
      margin-bottom: 15px;
  }    .select select {
          font-family: 'Arial';
          display: inline-block;
          cursor: pointer;
          padding: 10px 15px;
          outline: 0;
          border: 0px solid #000000;
          border-radius: 44px;
          background: #bf94e4;
          color: #cae797;
      }
          .select select::-ms-expand {
              display: none;
          }
          .select select:hover,
          .select select:focus {
              color: #000000;
              background: #bf94e4;
          }
          .select select:disabled {
              opacity: 0.7;
              pointer-events: none;
          }
  .select_arrow {
    background: #bf94e4;
    border-radius: 44px;
    height: 36  px;
    width: 43px;
    position: absolute;
    right: -10px;
    top: 0;
    z-index: -1;
  }
  .select select:hover ~ .select_arrow,
  .select select:focus ~ .select_arrow {
      border-top-color: #000000;
  }
  .select select:disabled ~ .select_arrow {
      border-top-color: #cccccc;
  }

  .rdp-root {
    --rdp-accent-color: #BF94E4; /* Change the accent color to indigo. */
    --rdp-accent-background-color: #2B2D3D; /* Change the accent background color. */
   
  }

  .rdp-day_button {
    border: 1px solid #BF94E4 !important;
    border-radius: 0 !important;
  }

  .rdp-chevron {
    fill: #BF94E4 !important;
  }
  .rdp-today {
    color: #BF94E4 !important;
    text-decoration: underline;
  }

  
