body {
  background-color: #2b2d3d;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #c397e8;
}

.ascii-art {
  font-family: 'Courier New', Courier, monospace;
  color: #cae897;
  white-space: pre;
}

a {
  color: #cae897;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.divisor {
  flex:1;
  margin: 10px 20px;
  background-image: linear-gradient(to right, rgb(202, 232, 151) 40%, #2b2d3d 20%);
  background-position: bottom;
  background-size: 10px 4px;
  background-repeat: repeat-x;
}
